<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update User</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <div class="update-user-container">
        <form action="/update-user" method="POST">
            <div>
                <label>FirstName</label>
                <input type="text" name="firstName" value="<%= dataUser.firstName %>"/>
            </div>
            <div>
                <label>LastName</label>
                <input type="text" name="lastName" value="<%= dataUser.lastName %>"/>
            </div>
            <div>
                <label>Email</label>
                <input type="email" name="email" value="<%= dataUser.email %>"/>
            </div>
            <input type="text" hidden value="<%= dataUser.id %>" name="id"/>
            <div>
                <button type="submit" class="btn-save">Save</button>
            </div>
        </form>
    </div>
</body>
</html>